/* Centering the entire content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f8ff;
}

/* Styling the container */
div {
  text-align: center;
}

/* Button Styling */
button {
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}



/* Table Styling */
.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
}

.table th {
  background-color:  #0077b6;;
  color: white;
  font-weight: bold;
}

.table a:hover {
  text-decoration: underline;
}
